/home/projects/cge/people/cathom/data/
/home/projects/cge/people/cathom/docs/test2/
/home/projects/cge/people/cathom/results/
/home/projects/cge/people/cathom/src/old/
/home/projects/cge/people/cathom/src/templates/
/home/projects/cge/people/cathom/src/*/qsub_*.sh 
/home/projects/cge/people/cathom/tools/
